nav.navbar.navbar-expand-lg.bg-dark.navbar-dark
    .container
        a.navbar-brand(href="/accounts") Mailbox Admin

        ul.navbar-nav.ms-auto
            li.nav-item
                a.nav-link(href="/accounts") Accounts

            li.nav-item
                a.nav-link(href="/accounts/create") Create