header.topbar

    .search-box
        i.fa-solid.fa-magnifying-glass

        input(
            type="text"
            placeholder="Search mail..."
        )

    .topbar-right

        button.icon-btn
            i.fa-regular.fa-bell

        button.icon-btn
            i.fa-regular.fa-user