extends ../../layouts/main

block content

    .mail-detail-card

        .mail-detail-header
            h2 #{mail.subject}

            .mail-detail-actions
                button.btn.btn-outline-primary Reply
                button.btn.btn-outline-danger Delete

        .mail-meta
            p
                b From:
                |  #{mail.sender}

            p
                b To:
                |  Nguoi_nhan

            p
                b Time:
                |  #{mail.createdAt}

        hr

        .mail-content
            | #{mail.content}